
<!--  A Simple Remote to control our Raspberrypi car  -->


<form action="/command" method="GET">
<center>
<table>
<tr>
<td></td>
<td><button type="submit" value="forward" name="direction">FORWARD</button></td>
<td></td>
</tr>

<tr>
<td><button type="submit" value="left" name="direction">LEFT</button></td>
<td><button type="submit" value="stop" name="direction">STOP</button></td>
<td><button type="submit" value="right" name="direction">RIGHT</button></td>
</tr>

<tr>
<td></td>
<td><button type="submit" value="backward" name="direction">BACKWARD</button></td>
<td></td>
</tr>


</table></center>




</form>